html
{
	pointer-events: none;
}
body
{
	overscroll-behavior: contain;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
	min-height: 100vh;
	background-color: black;
	color: white;
}
fieldset
{
	margin-bottom: 10px;
}
input
{
	pointer-events: auto;
}
button
{
	margin-bottom: 10px;
	pointer-events: auto;
}
h1
{
	margin-bottom: 10px;
	color: orange;
}
legend, h3
{
	width: 100%;
	font-size: 20px;
}
h2
{
	margin-bottom: 10px;	
}
h3
{
	border-top: 1px solid orange;
}
#main
{
	text-align: center;
}