#main
{
	#ecranMenuPrincipal
	{
		text-align: left;
	}
}
#ecranMenuPrincipal
{
	width: 280px;
}
#ecranJeu
{
	display: none;
	width: 280px;
}
.case, .caseSecrete
{
	margin: 5px;
	border: 2px solid grey;
	border-radius: 50%;
	display: inline-block;
	width: 48px;
	height: 48px;
	background-color: grey;
}
.casesRow, #rowSecrete
{
	display: flex;
}
#rowSecrete
{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	background-color: grey;
}
#recommencer
{
	display: none;
	border: 1px solid orange;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 280px;
	font-size: 16px;
}
#recommencer:hover
{
	border: 1px solid white;
	background-color: orange;
}
.caseResultatRow
{
	border-radius: 0px;
	display: flex;
	flex-wrap: wrap;
	background-color: black;
}
.caseResultat
{
	border-radius: 50%;
	border: 1px solid black;
	width: 50%;
	height: 50%;
	background-color: grey;
}
#pions
{
	bottom: 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: grey;
}
.pion
{
	margin-top: 5px;
	margin-bottom: 5px;
	border: 2px solid grey;
	border-radius: 50%;
	display: inline-block;
	width: 42px;
	height: 42px;	
}
.yellow
{
	background-color: yellow;
}
.blue
{
	background-color: blue
}
.red
{
	background-color: red;
}
.green
{
	background-color: green;
}
.white
{
	background-color: white;
}
.black
{
	background-color: black;
}
.maroon
{
	background-color: maroon;
}
.purple
{
	background-color: purple;
}
.orange
{
	background-color: orange;
}
.pink
{
	background-color: pink;
}