html, body, div, span, h1, h2, h3, p, form, fieldset, legend, label, input {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  font-weight: normal; }

body {
  overscroll-behavior: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  color: white;
  pointer-events: none; }

fieldset {
  margin-bottom: 10px; }

input {
  pointer-events: auto; }

button {
  margin-bottom: 10px;
  pointer-events: auto; }

h1 {
  margin-bottom: 10px;
  color: orange; }

legend, h3 {
  width: 100%;
  font-size: 20px; }

h2 {
  margin-bottom: 10px; }

h3 {
  border-top: 1px solid orange; }

#main {
  text-align: center; }

#main #ecranMenuPrincipal {
  text-align: left; }

#ecranMenuPrincipal {
  width: 280px; }

#ecranJeu {
  display: none;
  width: 280px; }

#informations {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 58px;
  text-align: center;
  font-size: 24px;
  color: red;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  background-color: rgba(255, 255, 255, 0.3); }

.case, .caseSecrete {
  margin: 5px;
  border: 2px solid grey;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 42px;
  min-height: 42px;
  max-width: 42px;
  max-height: 42px;
  background-color: grey; }

.casesRow, #rowSecrete {
  display: flex;
  justify-content: space-between; }

#rowSecrete {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: grey; }

#recommencer {
  display: none;
  border: 1px solid orange;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 280px;
  font-size: 16px; }

#recommencer:hover {
  border: 1px solid white;
  background-color: orange; }

.caseResultatRow {
  border-radius: 0px;
  display: flex;
  flex-wrap: wrap;
  background-color: black; }

.caseResultat {
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 900;
  background-color: grey; }

#pions {
  bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: grey; }

.pion {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid grey;
  border-radius: 50%;
  display: inline-block;
  min-width: 42px;
  min-height: 42px;
  max-width: 42px;
  max-height: 42px;
  pointer-events: auto; }

.yellow {
  background-color: yellow; }

.blue {
  background-color: blue; }

.red {
  background-color: red; }

.green {
  background-color: green; }

.white {
  background-color: white; }

.black {
  background-color: black; }

.maroon {
  background-color: maroon; }

.purple {
  background-color: purple; }

.orange {
  background-color: orange; }

.pink {
  background-color: pink; }

.regles {
  font-size: 18px; }

/*# sourceMappingURL=style.css.map */
